@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global settings */
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;

}
/* Page Settings */
body {
  font-family: Poppins;
  color: white;
  margin: 0;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: #ededed;
}

/* --- navbar --- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  padding: 10px 5%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header a {
  margin-right: 40px;
}

.logo {
  font-size: 16pt;
  font-weight: 700;
  letter-spacing: 3px;
}

a:hover { 
  color: steelblue;
}
.active {
  color: steelblue;
}

/* content section */
.home {
  height: 100vh;
  background: url('/img/my_desktop.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.5em;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
  padding: 0 10px;
  line-height: 1.2em;
}

.home-content p {
  font-size: 16px;
}

/* Favorite quote */
.quote-content {
  height: 20vh;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  display: flex;
  align-items: center;
  max-width: 500px;
}
.quote {
  font-size: 20pt;
  font-weight: 200;
  font-style: italic;
  color:#df7b16; 
}
.name {
  height: 1vh;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 5vw;
  color: #df7b16;
  font-size: 10pt;  
}
@media screen and (max-width: 600px) {
  .home-content h1 {
    font-size: 32pt;
  }
  .home-content h3 {
    font-size: 24pt;
  }
  .quote-content {
    height: 10vh;
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    display: flex;
    align-items: center;
    max-width: 500px;
  }
  .quote {
    font-size: 12pt;
    font-weight: 100;
    font-style: italic;
    color:#df7b16; 
  }
  .name {
    height: 1vh;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 5vw;
    color: #df7b16;
    font-family: Poppins;
    font-size: 9pt;
    font-weight: 50;
  }
}